.head {
  margin: auto;
  height: 20px;
  width: 900px;
}
.box {
  margin: auto;
  height: 600px;
  width: 900px;
  border-radius: 8px 8px 0 0;
  background-color: rgb(200, 184, 184);
}
.name {
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 100px;
  height: 100px;
  width: 900px;
  border-radius: 0 0 8px 8px;
  background-color: rgb(200, 184, 184);
}
.mountain {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 12% 0;
}
.base1 {
  position: relative;
  top: -15%;
  left: 10%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.base2 {
  position: relative;
  top: -37%;
  left: 24%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.base3 {
  position: relative;
  top: -62%;
  left: 38%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.base4 {
  position: relative;
  top: -66%;
  left: 53%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.base5 {
  position: relative;
  top: -75%;
  left: 69%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.base6 {
  position: relative;
  top: -95%;
  left: 84%;
  height: 3px;
  width: 30px;
  background-color: brown;
}
.climber {
  position: relative;
  top: -18%;
  left: 9%;
  height: 14%;
}
.input {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 6px;
  padding-left: 20px;
  margin: 20px 40px 20px 80px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 16px;
  font-style: italic;
  outline: none;
  background-color: #fefefe;
  opacity: 0.4;
}
.button {
  width: 150px;
  height: 40px;
  margin: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(65, 64, 64);
  color: #ccc9c9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.button:hover {
  transform: scale(1.05);
}
.button:active {
  transform: scale(0.97);
}
.info {
  position: relative;
  display: flex;
  top: -112%;
  left: 5%;
  width: 400px;
  height: 40px;
}
.text {
  width: 250px;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: white;
}
.counter {
  width: 100px;
  height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: white;
}
.rock {
  width: 20px;
  position: relative;
  top: 0;
  left: 10%;
  animation-name: first_keyframe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
@keyframes first_keyframe {
  from {
    top: 0;
  }

  to {
    top: 3000%;
  }
}
